@page
@model LabU.Pages.Admin.Roles.AddModel
@{
    ViewData["Title"] = "Новая роль";
}
<h4>Добавление роли</h4>
<div class="row">
    <div asp-validation-summary="ModelOnly"></div>
    <form method="post">
        <div class="form-group">
            <label asp-for="@Model.Name" class="control-label"></label>
            <input asp-for="@Model.Name" class="form-control" />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
</div>