@page
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model LabU.Pages.Admin.Alerts.ControlModel

@{
    ViewData["Title"] = "Управление уведомлениями";
}

<h3>@ViewData["Title"]</h3>
<form method="post">
    <div class="form-floating mb-3">
        <input asp-for="@Model.InformationMessage" class="form-control" />
        <label asp-for="@Model.InformationMessage"></label>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>