@using System.Security.Claims
@if (User.Identity?.IsAuthenticated ?? false)
{
    <ul class="navbar-nav">
        <li class="nav-link">
            |
        </li>
        
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" href="#" data-bs-toggle="dropdown" aria-expanded="false" id="navBarDropdownMenu">
                <strong>
                    @(User.Identity.Name)
                </strong>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navBarDropdownMenu">
                <li><a href="/Account/Index" class="dropdown-item">Профиль</a></li>
                <li><a href="/Logout" class="dropdown-item">Выход</a></li>
            </ul>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="/Account/Login" class="nav-link text-dark">Вход</a>
        </li>
    </ul>
}

